@import "flex-style.css";

html, body {
    height: 100%;
}

body {
    margin: 0;
    overflow: auto;
    background: #f0f0f0;
}

#container {
    height: 100%;
}

#navbar {
    height: 7%;
    min-height: 60px;
}

#title {
    margin-left: 30px;
}

#title > span:nth-child(1) {
    color: #08b1a9;
    font-size: 35px;
    font-weight: bold;
}

#title > span:nth-child(2) {
    color: #393d3f;
    font-size: 10px;
}

input {
    border: 1px solid #08b1a9;
    border-radius: 4px;
    margin-right: 20px;
    padding: 2px;
}

#content {
}

.card {
    margin: 20px;
    border: 1px white solid;
    border-radius: 10px;
    background: white;
}

#sidenav {
    width: 12%;
    min-width: 200px;
}

#content {
    padding: 15px;
}

.item {
    margin-top: 10%;
    padding: 8px 20px;
    background: #f0f0f0;
}

.subitem {
    padding: 8px 20px;
}

.item.active {
    color: #08b1a9;
}

.subitem.active {
    color: #08b1a9;
}

.hidden {
    display: none;
}

.link:hover:not(.active){
    color: #08b1a9;
    cursor: pointer;
}

#impressum {
    padding: 10px 5px;
    background: #393d3f;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#impressum  span {
    font-size: 12px;
    color: #e6e6e8;
}

table {
    margin-top: 20px;
    width: 80%;
    background: #f0f0f0;
}

table, th, td {
    border-collapse: collapse;
}

th, td {
    border: 5px solid white;
}
th, td {
    padding: 15px;
}

tr:hover:not(#all-articles-head) {
    background: #393d3f;
    color: #e6e6e8;
}

#all-articles-head > th:nth-child(1) {
    width: 10%;
}

#all-articles-head > th:nth-child(2) {
    width: 10%;
}

#all-articles-head > th:nth-child(3) {
    width: 50%;
}

#all-articles-head > th:nth-child(4) {
    width: 20%;
}

#all-articles-head > th:nth-child(5) {
    width: 10%;
}

.backBlue {
    background: #cff0ee;
}

.backGreen {
    background: #cff0d4;
}

.backRed {
    background: #f0d1cf;
}

.backYellow {
    background: #ecf0cf;
}

#shopping-card-list {
    padding: 20px;
    background: #cff0ee;
}

#shopping-card-list > span:last-child{
    margin-right: 32px;
}

#shopping-card-list li {
    margin-bottom: 10px;
}

.btn {
    background-color: transparent; /* Blue background */
    border: none; /* Remove borders */
    cursor: pointer; /* Mouse pointer on hover */
}

.icon-button {
    background-color: transparent; /* Blue background */
    border: none; /* Remove borders */
    cursor: pointer; /* Mouse pointer on hover */
}

.login-button {
    margin-right: 20px;
}

.white-icon {
    color:#f0f0f0;
    font-size: 25px;
}

#pagination {
    background: #393d3f;
    padding: 10px 20px;
    border-radius: 10px;
}

.disabled {
    color: grey;
}

.disabled:hover {
    cursor: default;
}

.articles-head {
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
}

.articles-head > div:nth-child(2) {
    border-top: #f0f0f0 5px solid;
    padding-top: 20px;
}
